body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(151, 23%, 62%);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    top: 8px;
    left: 16px;
}

.groupOfButtons {
    display: flex;
    flex-direction: row;
    position: absolute; 
    bottom: 0;
    align-items: end;
    left: 0;
} 


.button {
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 113px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e3b2ff;
}

.button1{
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 100px;
    left: 50px;
    transition: background-color 0.3s ease;
}
.button2{
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 150px;
    left: 50px;
    transition: background-color 0.3s ease;
}
.button3{
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 250px;
    left: 50px;
    transition: background-color 0.3s ease;
}
.button4{
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 380px;
    left: 50px;
    transition: background-color 0.3s ease;
}
.button5{
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 430px;
    left: 50px;
    transition: background-color 0.3s ease;
}
.button6{
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 480px;
    left: 50px;
    transition: background-color 0.3s ease;
}
.button7{
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 530px;
    left: 50px;
    transition: background-color 0.3s ease;
}





.center{
    margin-top: 90px;
    margin-left: 70px;
}
